    <h1>About</h1>
    <p>Daily Kanji is a web-app that generate random kanji cards to help you memorize them. The database used here is the Jōyō kanji database from <a href='http://www.kanjidatabase.com/'>www.kanjidatabase.com</a>.</p>
    <p>This is not a proper educational tool and should probably not be treated as such. As it is now, it's merely a way to learn new kanjis from the <a href='http://en.wikipedia.org/wiki/J%C5%8Dy%C5%8D_kanji'>jōyō set</a>.</p>
