<button id="advanced-toggle" class="btn btn-default" onclick="$('#advanced').toggle('400')">Advance Search &raquo;</button>
  <div id="advanced" style="display:none" align="left">
    <form role="form" action="/search" method="post">
      <div class="form-group">
        <label for="kanjiInput">Kanji</label>
        <input type="text" class="form-control" id="kanjiInput" placeholder="enter one or more kanji to lookup" name="kanjiTextField">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>