    <div class="footer navbar-fixed-bottom" id="footer">
      <div class="container">
        <p class="text-muted"> version <%- version %> © 2014 <a href='http://www.abak.io'>Adrien Bak</a></p>
      </div>
    </div>