  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Daily Kanji</title>
      <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
      <link rel='stylesheet' href='/stylesheets/style.css'/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src='/javascripts/bootstrap.min.js'></script>
      <script type="text/javascript" src='/javascripts/wiktionary.js'></script>
      <% include ga.ejs %>
  </head>