  <head>
      <title>Daily Kanji</title>
      <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
      <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css'/>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel='stylesheet' href='/stylesheets/style.css'/>
      <script type="text/javascript" src='/javascripts/wiktionary.js'></script>
      <% include ga.ejs %>
  </head>