<!DOCTYPE html>
<html>
  <% include head.ejs %>
  <body>
  <% include navbar.ejs %>

      <div class="container" id="main">
        <%- body %>
      </div>

  <% include footer.ejs %>
  </body>
</html>