<!DOCTYPE html>
<html>

  <head>
      <title>Daily Kanji</title>
      <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
      <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css'/>
      <link rel='stylesheet' href='/stylesheets/style.css'/>
      <link rel='script' href='/javascripts/wiktionary.js'/>
      <% include ga.ejs %>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Daily Kanji</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div id="wrap">
      <div class="container" id="main">
        <div class="starter-template">

          <%- body %>

        </div>
      </div>
    </div>

    <div class="footer navbar-fixed-bottom" id="footer">
      <div class="container">
        <p class="text-muted"> version <%- version %> © 2014 <a href='http://www.abak.io'>Adrien Bak</a></p>
      </div>
    </div>
  </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src='/javascripts/bootstrap.min.js'></script>
    <script>

    function test(truc){
      console.log(truc);
    }

var query_wiki = "http://en.wiktionary.org//w/api.php?action=parse&format=json&page=%E5%B1%8B&prop=text&callback=?"

var query = "http://en.wikipedia.org/w/api.php?format=json&action=query&titles=India&prop=revisions&rvprop=content&callback=test";

$.getJSON(query_wiki ,function(data) {
  // console.log(data.parse.text["*"]);
  $("#main").append(data.parse.text["*"]);
      });

  // console.log($("test_div"));

</script>

</html>