<button class="btn btn-default" id="wiki-toggle" onclick="$('#wiki').toggle('400')">Read More &raquo;</button>
  <div id="wiki" style="display:none" align="left">
    <p>From <a href="https://www.wiktionary.org/">Wiktionary.org</a> :</p>
  </div>